.container {
  flex-direction: column;
  background-color: #444;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  margin: 0.5rem 0;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  width: 20%;
  padding: 0.6rem;
  background-color: indianred;
}
